* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Bold.woff2") format("woff2"),
    url("fonts/BentonSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Light.woff2") format("woff2"),
    url("fonts/BentonSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Medium.woff2") format("woff2"),
    url("fonts/BentonSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Regular.woff2") format("woff2"),
    url("fonts/BentonSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Black.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Bold.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-ExtraBold.woff2") format("woff2"),
    url("fonts/MontserratAlt1-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-ExtraLight.woff2") format("woff2"),
    url("fonts/MontserratAlt1-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Light.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Medium.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Regular.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Header */
.header-wraping {
  background: #2c0506;
}

.logo {
  width: 110px;
}

.nav-container {
  max-width: 1486px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px;
  height: 81px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
  font-size: 18px;
  padding-right: 9px;
}

.navbar-ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: "BentonSans";
  font-weight: 100;
}

.navbar-a:hover {
  color: #916a2d;
}

/* Navbar Login & sign Up Buttons */
.login-signUp {
  display: flex;
  gap: 15px;
}

.login-btn {
  background: transparent;
  color: #fff;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
}

.login-btn:hover {
  color: #916a2d;
}

.signup-btn {
  background: #916a2d;
  padding: 7px 25px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #fff;
  color: black;
}

.menu-icon path {
  stroke: #fff;
}

.menu {
  display: none;
}

/* Hero Section */
.hero-section {
  background-image: url("images/heroImg.png");
  background-size: cover;
  height: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 65px;
  margin: 18px;
  padding-left: 38px;
}

.search-bar {
  margin: 2rem 0;
}


.buy-btn {
  background: #fff;
  padding: 8px 10px;
  border: none;
  font-family: BentonSans;
  font-size: 14px;
  margin-top: -10px;
}

.rent-btn {
  background: #2c0506;
  padding: 13px 20px;
  border: none;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  font-family: BentonSans;
  margin-top: -10px;
}

.hero-wrapper {
  width: 714px;
  margin: 12px auto 0px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 9px 9px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-left: 21px;
}

.heroInput {
  width: 100%;
  border: none;
  padding: 10px 28px;
  font-size: 18px;
  outline: none;
  font-family: BentonSans;
  background: transparent;
  color: black;
}

.search-btn {
  background: #2c0506;
  border: none;
  width: 61px;
  height: 56px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.search-btn:hover {
  background: #4e0a0c;
}

.category-tabs {
  display: flex;
  margin-left: 21px;
}

.buy-btn,
.rent-btn {
  padding: 10px 31px;
  border: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #dadfe2;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
}

/* Main Section */
.container {
  max-width: 1074px;
  margin: 0 auto;
  margin-right: 179px;
}

.crum-divder {
  left: 28px;
}

.main-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 122px;
  align-items: center;
  padding: 40px 0;
  margin-top: 52px;
}

.about-para {
  font-size: 17px;
  color: #ac9c9d;
  line-height: 1.8;
  font-family: "BentonSans";
}

.about-para::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  background: #dfc99a;
  top: 14px;
  left: -90px;
}

.about-us {
  text-align: center;
  font-weight: 100;
  font-size: 32px;
  margin: 0 40px;
}

.about-content {
  text-align: left;
  font-weight: 400;
  color: #3b1718;
  font-size: 30px;
  margin: 27px 0;
  position: relative;
}

.about-btn {
  background: #2c0506;
  color: #ffffff;
  padding: 21px 45px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
}

.meet-btn {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.main-section-image,
.main-section-image2 {
  width: 100%;
}

.crum-app-image {
  width: 586px;
  height: auto;
  display: block;
}

.thinking {
  max-width: 1112px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 238px;
  gap: 130px;
  margin-top: 34px;
}

.thinkings {
  margin-left: 70px;
}

/* Crum Connect */
.crum-connect-section {
  background: #f5f6f8;
  align-items: center;
  gap: 40px;
}

.connect-top-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 76px;
  max-width: 1128px;
  margin: auto;
}

.about-container {
    width: 440px;
}

.before-box,
.after-full-box,
.afterImage {
  position: relative;
  overflow: hidden;
}

.before-box {
  flex: 1.2;
  margin-top: -196px;
}

.before {
  width: 100%;
}

.befores {
  position: absolute;
  bottom: 27px;
  left: 38px;
  color: #fff;
  font-size: 41px;
  font-weight: 200;
}

.after-full-box {
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: -158px;
}

.after {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.afterImage {
  width: 95%;
}

.label {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

.connect-text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 11px;
  top: 30px;
  font-size: 30px;
  margin-top: 150px;
  margin-left: 21px;
}

.connect-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 47px;
  color: #2c0506;
  font-weight: 200;
}

.connect-desc {
  color: #66667a;
  line-height: 1.9;
  font-size: 17px;
  max-width: 388px;
  font-family: "BentonSans";
  letter-spacing: -1px;
}

.connect-cta {
  background: #2c0506;
  color: #c3b9b9;
  border: none;
  padding: 20px 42px;
  border-radius: 30px;
  width: fit-content;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: BentonSans;
  font-family: 100;
  text-decoration: none;
}

.arro {
  font-weight: bold;
  font-size: 1.6rem;
}

.after-title {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  padding: 30px;
  position: relative;
  top: 268px;
  left: 46px;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  width: fit-content;
}

.connect-cta-div {
  padding-left: 86px;
  margin: 18px 0;
}

.connect-cta:hover {
  background: #4a0a0c;
}

/* Featured Propperties */
.featured-container {
  max-width: 1488px;
  margin: auto;
  margin-right: 7px;
}

.featured-title-container {
  margin-top: 100px;
}

.featured-main-title {
  font-size: 37px;
  font-weight: 500;
  margin: 0px 110px;
  color: #2c0506;
}

.featured-divder {
  position: relative;
}

.featured-divder::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 80px;
  height: 2px;
  background: red;
}

.featured-divder-sub {
  position: relative;
}

.featured-divder-sub::before {
  content: "";
  position: absolute;
  top: 35px;
  left: -110px;
  width: 80px;
  height: 2px;
  background: red;
}

.heading-group {
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 200;
  margin-top: 98px;
  margin-left: 1px;
  margin-bottom: 27px;
}

.main-title {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #470608;
  padding-left: 27px;
  margin-bottom: 30px;
  gao: 220px;
}


.sub-heading-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 235px;
  margin-bottom: 12px;
  gap: 266px;
}

.our-location-gropu {
  margin-left: 311px;
  margin-top: 94px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 2px;
}

.view-alls {
  color: black;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
  position: relative;
  right: -90px;
  top: 20px;
}

.left-sides {
  display: flex;
  align-items: center;
  padding: 40px;
  margin-bottom: -40px;
}

.gold-line,
.gold-line-left {
  display: inline-block;
  width: 77px;
  height: 2px;
  background: #cf8909;
  flex-shrink: 0;
  margin-top: -30px;
}

.view-all {
  color: black;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 11px;
  transition: color 0.3s ease;
  margin-bottom: 41px;
}

.view-all:hover {
  color: #4a0a0c;
}

/* Featured Properties */
.featured-propertie {
  gap: 10px;
  margin-bottom: 80px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.properties-cards {
  font-family: "Times New Roman", Times, serif;
  height: 283px;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.properties-card-images {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.properties-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: #fff;
}

.properties-Title {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 8px;
  border-radius: 4px;
  font-weight: 200;
  text-align: start;
  color: #fff;
}

.cardTop-content {
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
}

.new {
  background: #c29b40;
  display: flex;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: 200;
  z-index: 10;
}

.card-footer {
  margin: 9px;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.properties-price {
  font-size: 27px;
  line-height: 1.5;
  font-family: 100;
  font-family: "Times New Roman", Times, serif;
}

.properties-address,
.properties-listing {
  font-size: 15px;
  font-weight: 100;
}

.house-details-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.propertice-iconImages {
  display: flex;
  justify-content: end;
  gap: 6px;
  width: 6%;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -5px;
}

.real-estate-popular-cites {
  font-size: 80px;
}

.real {
  font-weight: 200;
}

.bed-icon,
.bath-icon,
.width-icon {
  object-fit: cover;
  width: 25px;
  height: 15px;
}


.crum-about-container {
  width: 397px;
}

.bed-span,
.bath-span,
.squarePara {
  font-size: 15px;
}

/* Our Location */
.locations-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1480px;
  margin: auto;
  padding: 29px;
}

.locations-card-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.locationImage {
  width: 100%;
  display: block;
}

.card-item {
  position: relative;
  background: #f5f6f8;
  width: 100%;
}

.locationCard-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.card-heading {
  font-size: 21px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.card-text {
  font-size: 25px;
  opacity: 0.9;
  font-weight: 100;
  color: #dfdcdc;
  font-family: "Montserrat";
}

/* Crum App */
.crum-app {
  display: flex;
  gap: 43px;
}

.crumgoogle-app {
  width: 166px;
}


.crum-heading {
  font-size: 46px;
  margin-bottom: 20px;
  color: #2c0506;
}

.crum-para {
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.crum-divder {
  width: 60px;
  height: 3px;
  bottom: -37px;
  right: 58px;
}

.crum-container {
  background: #fafafa;
  margin-top: 50px;
  margin-bottom: 77px;
}

/* Blog Container */
.blog-container {
  max-width: 1174px;
  padding: 12px;
}

.blog-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;
  margin-bottom: 49px;
  padding: 20px;
}

.blog-card-item {
  background: #f5f6f8;
}

.thinking-btn {
  display: flex;
  margin: 0 97px;
}

.blog-card-image {
  width: 100%;
  height: 227px;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-imags {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.blog-excerpt {
  color: #a0a1a1;
  font-size: 20px;
}

.blog-image {
  width: 100%;
  object-fit: cover;
}

.blog-heading {
  margin-top: 40px;
  margin-bottom: 17px;
  text-decoration: none;
  color: #5a3c3d;
  font-weight: 200;
  font-size: 22px;
}

.blog-content {
  padding: 15px;
}

.blog-tile,
.blog-meta {
  padding: 9px 20px;
  font-size: 18px;
  font-weight: 200;
}

.about-para-crum::before {
  top: 28px;
  left: -51px;
  width: 63px;
  height: 3px;
}

.blog-title {
  color: #5a3c3d;
  font-size: 17px;
}

.blog-meta {
  color: #a0a1a1;
  margin-bottom: 10px;
}

/* Popular Cites */
.popular-cites {
  margin-top: -2px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popular-cites-link {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 17px;
}

.view-a {
  font-size: 15px;
  background: #2c0506;
  padding: 11px 42px;
  color: #f5f6f8;
  border-radius: 30px;
  margin-top: 9px;
}

/* Footer */
.footer-container {
  background: #2c0506;
  padding: 19px 0;
  color: #c4c3c3;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-paragraph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.crum {
  margin-bottom: 40px;
}

.footer-column {
  min-width: 262px;
}

.footer-heading {
  font-size: 22px;
  margin-bottom: 18px;
  color: #c4c3c3;
  font-weight: 200;
}

.footer-para {
  font-size: 16px;
  opacity: 0.7;
  line-height: 1.6;
  margin-bottom: 80px;
  color: #c4c3c3;
  width: 73%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-links a {
  text-decoration: none;
  color: #c4c3c3;
  opacity: 0.8;
  transition: opacity 0.3s;
  font-size: 16px;
}

.footer-links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footerLogo-links {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 13px 0;
}

.crum-logo {
  margin-bottom: 16px;
  margin-top: -20px;
  width: 123px;
}

.sub-text {
  font-size: 20px;
  opacity: 0.9;
  color: #c4c3c3;
  margin-top: -60px;
}

.one-hour {
  font-size: 16px;
}

.socialIcon-container {
  padding: 40px 70px;
}

.main-footer {
  max-width: 1045px;
  margin: auto;
  margin-top: 116px;
}

.footer-top {
  text-align: center;
  margin-bottom: 35px;
  color: #806e6f;
  margin-left: 103px;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 6px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.footers {
  max-width: 1293px;
  font-size: 14px;
  margin-top: 110px;
}

.languge {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.social-links li a {
  color: #806e6f;
  text-decoration: none;
  font-size: 17px;
}

.social-links li:not(:last-child)::after {
  content: "•";
  color: #bfa078;
  margin-left: 15px;
}

.personal-info-link {
  display: block;
  color: #806e6f;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

.footer-content {
  max-width: 1017px;
  margin: 68px 130px;
  color: #c4c3c3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 51px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #806e6f;
  font-size: 18px;
  margin-bottom: -30px;
}

.footer-divider {
  position: relative;
  top: 0px;
  width: 100%;
  border-top: 1px solid #c4c3c3;
}

.legal-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}


.legal-menu li a {
  color: #806e6f;
  text-decoration: none;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}

.legal-menu li:not(:last-child)::after {
  content: "|";
  color: #bab6b7;
  margin-left: -15px;
  padding: 0 30px;
}

.thinking-heading {
  text-align: start;
}

.popular-cites-container {
  max-width: 1146px;
}

.main-sub-title-group {
  font-size: 47px;
}

.disclaimer-text p {
  font-size: 11px;
  color: #857576;
  line-height: 2.9;
  text-transform: uppercase;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.disclaimer-text {
  margin-top: 0px;
  margin-bottom: 30px;
}

.last-para {
  width: 80%;
}


.view-heading {
  margin-left: 360px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.los-angeles {
  margin-top: 97px;
}

.about-con {
    margin-bottom: 39px;
}

.earth-icon {
  width: 23px;
}

.view-all-container {
  display: flex;
  justify-content: center;
  margin-bottom: 98px;
}

.view {
  background: #2c0506;
  text-decoration: none;
  color: #f5f6f8;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
}

.footer-end {
  text-align: center;
  background: #33090a;
  color: #857576;
  padding: 14px;
  font-size: 13px;
  border-top: 1px solid #401d1e;
}

@media (max-width: 1200px) {
  .featured {
  grid-template-columns: 1fr 1fr 1fr;
}


.footer-column {
  min-width: 211px;
}


.main-section-container {
  gap: 50px;
}

.about-para {
  font-size: 17px;
  color: #ac9c9d;
  line-height: 1.8;
  font-family: "BentonSans";
}


.about-para-crum::before {
  top: 10px;
}
.nav-container {
  max-width: 1176px;
}

  .logo {
  width: 97px;
}

.navbar-a {
  font-size: 15px;
}


.nav-btn {
  padding-right: 19px;
}


.hero-content {
  font-size: 56px;
}


.hero-wrapper {
  width: 644px;
}


.heroInput {
  font-size: 18px;
}


.inputDiv {
  margin-right: 10px;
}


.search-btn {
  width: 51px;
  height: 51px;
}


.login-btn {
  font-size: 15px;
}

.crum-app-contaner {
  gap: 0;
}

  .container {
  max-width: 739px;
}


.about-us {
  text-align: center;
  font-weight: 100;
  font-size: 23px;
}

.about-para {
  font-size: 15px;
}


.about-btn {
  padding: 19px 34px;
  font-size: 14px;
}

.main-section-image,
.main-section-image2 {
  width: 308px;
}


.thinking {
  max-width: 912px;
}


.connect-top-grid {
  max-width: 944px;
}


.connect-title {
  font-size: 42px;
}


.connect-desc {
  font-size: 15px;
  letter-spacing: normal;
}


.connect-cta {
  padding: 18px 30px;
  font-size: 16px;
}

.afterImage {
  width: 80%;
}


.main-title {
  font-size: 36px;
}


.properties-cards {
  height: 260px;
}


.properties-price {
  font-size: 25px;
}


.bed-icon,
.bath-icon,
.width-icon {
  object-fit: cover;
  height: 13px;
}

.crum-heading {
  text-align: start;
  font-size: 26px;
}


.crumgoogle-app {
  width: 147px;
}


.crum-app-image{
  width: 460px;
}

.blog-container {
  max-width: 1160px;
}

.blog-heading {
  font-size: 21px;
}


.blog-excerpt {
  font-size: 18px;
}

.popular-cites-container {
max-width: 969px;
}

 .footers {
  max-width: 1250px;
}


.popular-cites-link {
  font-size: 16px;
}


.crum-logo {
  width: 107px;
}


.footerLogo-links {
  width: 67%;
}


.footer-heading {
  font-size: 21px;
}


.footer-para {
  font-size: 14px;
}


.sub-text {
  font-size: 17px;
}

.footer-links a {
  font-size: 15px;
}


.social-links li a {
  font-size: 15px;
}


.personal-info-link {
  font-size: 11px;
}


.main-footer {
  max-width: 795px;
  margin: auto;
}


.languge {
  font-size: 16px;
}


.legal-menu li a {
  font-size: 17px;
}

.disclaimer-text p {
  font-size: 10px;
}

.popular-cites {
  gap: 0px;
}

}


@media (max-width: 992px) {
  .container {
    max-width: 581px;
  }

  .about-us {
    font-size: 23px;
  }


.sub-heading-group {
  gap: 185px;
  margin-left: 110px;
}


/* Featured Properties */
.featured-propertie {
  padding: 14px;
}


/* Featured Propperties */
.featured-container {
  margin-right: 1px;
}


  .about-para {
    font-size: 13px;
  }

  .about-para::before {
    display: none;
  }

  .about-btn {
    padding: 15px 22px;
  }

  .thinking {
    max-width: 743px;
    gap: 43px;
    margin-bottom: 116px;
  }

  .main-section-container {
    gap: 24px;
  }

  .footers {
    max-width: 901px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .before-box {
    flex: 1.2;
    margin-top: -272px;
  }

  .connect-top-grid {
    max-width: 850px;
    padding: 20px;
  }


  .connect-title {
    font-size: 34px;
  }

  .connect-desc {
    font-size: 15px;
  }


  .connect-cta {
    padding: 15px 24px;
    font-size: 15px;
  }

  .befores {
    font-size: 33px;
  }

  .featured {
    grid-template-columns: 1fr 1fr;
  }


  .view-all {
    right: -132px;
  }

  .blog-card-container {
    grid-template-columns: 1fr 1fr;
    padding: 0px;
  }

  .crum-app-image {
    width: 337px;
  }

  .popular-cites {
    grid-template-columns: 1fr 1fr 1fr;
  }


  .logo {
    width: 83px;
  }


.heroInput {
  font-size: 14px;
}


  .main-footer {
    max-width: 608px;
    margin: auto;
    margin-left: 130px;
  }


.main-section-image,
.main-section-image2 {
  width: 304px;
}

.crum-app-image {
    width: 270px;
}


.connect-cta-div {
  padding-left: 53px;
}


.main-title {
  font-size: 23px;
}

.locations-card-container {
  grid-template-columns: 1fr 1fr;
}


.crumgoogle-app {
  width: 146px;
}

.crum-app-contaner {
  gap: 0;
}

.our-blog-group {
  margin-left: 250px;
}

.blog-container {
  max-width: 613px;
  margin-right: 67px;
}



.about-container {
    width: 336px;
}


.crum-app-image {
    width: 338px;
}

.crum-apps {
  max-width: 500px;
}


.gold-line,
.gold-line-left {
  width: 67px;
}

.location-title {
  font-size: 35px;
}

.popular-cites-container {
  margin-right: 103px;
}


.after-title {
  font-size: 42px;
  top: 240px;
  left: 68px;
}


.connect-text-box {
  margin-top: 96px;
}



}

@media (max-width: 768px) {
  .nav-btn {
    display: none;
  }

.crumgoogle-app {
  width: 136px;
}

.crum-app-image {
    width: 344px;
}

.real-sub {
  display: none;
}

  .menu-icon path {
    stroke: #fff;
  }

  .menu {
    display: block;
  }

  .hero-wrapper {
    width: 450px;
  }

  .hero-content {
    font-size: 42px;
    margin: 16px;
  }

  .container {
    max-width: 308px;
    margin-right: 164px;
  }

  .about-btn {
    font-size: 14px;
  }

  .main-section-container {
    grid-template-columns: 1fr;
  }

  .thinking {
    max-width: 324px;
    grid-template-columns: 1fr;
  }


  .before-box {
    flex: 1.2;
    margin-top: -278px;
  }


  .connect-text-box {
    margin-top: 51px;
  }


  .connect-title {
    font-size: 32px;
  }


  .connect-desc {
    font-size: 13px;
  }

.popular-cites-container {
  max-width: 451px;
}

  .connect-cta {
    padding: 13px 13px;
    font-size: 14px;
  }

  .main-title {
    font-size: 32px;
  }

  .view-all {
    right: -81px;
  }

  .featured {
    grid-template-columns: 1fr 1fr;
  }

  .locations-card-container {
    grid-template-columns: 1fr 1fr;
  }


  .crum-app-coontainer {
    gap: 29px;
  }


  .about-para-crum::before {
    top: 13px;
    left: -27px;
    width: 53px;
  }


  .blog-container {
    max-width: 542px;
    margin-right: 34px;
  }


  .popular-cites {
    grid-template-columns: 1fr 1fr;
  }

  .blog-heading {
    margin-top: 18px;
    font-size: 14px;
  }

  .blog-excerpt {
    color: #a0a1a1;
    font-size: 15px;
  }


  .real-estate-popular-cites {
    margin-left: -110px;
  }

  .footers {
    max-width: 681px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-footer {
    max-width: 490px;
    margin: auto;
  }

   .befores {
    font-size: 30px;
  }

.sub-heading-group {
  gap: 104px;
  margin-left: 9px;
}

.location-divider {
  margin-left: 106px;
}


  .real-estate-popular-cites {
    gap: 6px;
  }

  .popular-cites-container {
    margin-right: 74px;
  }

  .footers {
    margin-right: 1px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 254px;
  }



  .footerLogo-links {
    width: 45%;
  }


  .main-footer {
    max-width: 350px;
    margin: auto;
  }


  .legal-menu li a {
    font-size: 12px;
  }


  .footers {
    max-width: 674px;
  }

  .thinking {
    max-width: 258px;
    grid-template-columns: 1fr;
  }

  .connect-top-grid {
    display: flex;
    flex-direction: column;
  }

  .before-box {
    flex: 1.2;
    margin-top: -67px;
  }

  .connect-text-box {
    margin-top: 33px;
  }

  .connect-title {
    font-size: 31px;
  }


  .connect-desc {
    font-size: 13px;
  }

  .connect-cta {
    padding: 16px 23px;
    font-size: 14px;
  }


  .main-title {
    font-size: 23px;
  }


  .view-all {
    right: -58px;
    font-size: 11px;
  }


  .featured {
    grid-template-columns: 1fr;
  }


  .locations-card-container {
    grid-template-columns: 1fr;
  }

  .crum-apps {
    max-width: 320px;
  }

  .about-para-crum::before {
    left: -29px;
  }

  .blog-card-container {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .blog-container {
    max-width: 334px;
  }

  .popular-cites-container {
    max-width: 360px;
  }


  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-content {
    margin: 68px 80px;
  }

.about-btn {
    padding: 13px 23px;
    font-size: 11px;
  }
  .about-container {
    width: 247px;
}


.thinking-btn {
  display: flex;
  margin: 0 58px;
}


  .about-us {
    font-size: 17px;
  }


.after-title {
  font-size: 30px;
  top: 231px;
  left: 41px;
}

.crum-heading {
  font-size: 24px;
}


.crumgoogle-app {
  width: 125px;
}


.crum-app-image {
    width: 335px;
}

  .real-estate-popular-cites {
    margin-left: -31px;
  }
.real-sub {
  display: none;
}

 .popular-cites-container {
    margin-right: 4px;
  }


  .sub-heading-group {
    margin-left: 41px;
  }

  .crum-apps {
    margin-right: 9px;
  }

}

@media (max-width: 480px) {
  .nav-btn {
    display: none;
  }

  .menu-icon path {
    stroke: #fff;
  }

  .hero-wrapper {
    width: 350px;
  }

  .hero-content {
    font-size: 35px;
  }

  .sub-heading-group {
    margin-left: 0px;
  }


  .view-all {
    right: -21px;
    font-size: 9px;
  }


 
.popular-cites-link {
  font-size: 14px;
}


  .about-para::before {
    display: none;
  }
.thinkings {
  margin-left: 0px;
}

}

@media (max-width: 400px) {
  .nav-btn {
    display: none;
  }

  .menu-icon path {
    stroke: #fff;
  }

  .hero-wrapper {
    width: 300px;
  }

  .hero-content {
    font-size: 32px;
  }

  .about-main-container {
    max-width: 189px;
  }


  .about-btn {
    padding: 11px 16px;
    font-size: 12px;
  }

  .main-section-image,
  .main-section-image2 {
    width: 249px;
  }

  .footer-column {
    flex: 1;
    min-width: 190px;
  }

  .about-us {
    font-size: 18px;
  }

  .footers {
    max-width: 404px;
    margin: auto;
  }

  .about-para {
    font-size: 11px;
  }

  .connect-top-grid {
    display: flex;
    flex-direction: column;
  }

  .before-box {
    flex: 1.2;
    margin-top: -76px;
  }

  .befores {
    font-size: 29px;
  }

  .connect-text-box {
    margin-top: -17px;
  }

  .connect-title {
    font-size: 30px;
  }

  .connect-cta {
    padding: 12px 16px;
    font-size: 15px;
  }

  .connect-desc {
    font-size: 12px;
  }


  .after-title {
    font-size: 27px;
    top: 220px;
    left: 25px;
  }

  .main-title {
    font-size: 18px;
  }


  .view-all {
    right: -9px;
    font-size: 7px;
  }

  .card-heading {
    font-size: 18px;
  }


  .card-text {
    font-size: 20px;
  }

  .about-para-crum::before {
    display: none;
  }

  .crum-heading {
    font-size: 22px;
  }

  .crumgoogle-app {
    width: 116px;
  }

  .crum-app {
    display: flex;
    gap: 22px;
  }

  .crum-app-image {
    width: 285px;
  }

  .blog-titles {
    font-size: 27px;
  }

  .blog-divder {
    width: 50x;
  }


  .blog-card-container {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .blog-heading {
    margin-top: 15px;
    font-size: 15px;
  }

  .blog-excerpt {
    font-size: 14px;
  }

  .our-location-gropu {
    margin-left: 28px;
    margin-bottom: -2px;
    margin-top: -35px;
  }

  .location-divider {
    width: 50px;
  }

  .gold-line-left {
    visibility: hidden;
  }

  .location-title {
    font-size: 25px;
  }

  .los-angeles {
    margin-top: -31px;
  }

  .los {
    width: 50px;
  }

  .los-title {
    font-size: 20px;
  }

  .about-para::before {
    width: 43px;
    top: 8px;
    left: -56px;
  }


  .logo {
    width: 71px;
  }

  .crum-apps {
    width: 259px;
  }

  .crum-app-contaner {
    width: 245px;
  }

  .popular-cites {
    grid-template-columns: 1fr;
  }

  .popular-cites-container {
    max-width: 180px;
  }

  .crum-logo {
    width: 80px;
  }

  .main-footer {
    max-width: 270px;
    margin: auto;
  }

  .footerLogo-links {
    width: 59%;
  }

  .main-section-container {
    gap: 35px;
  }
}