* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Bold.woff2") format("woff2"),
    url("fonts/BentonSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Light.woff2") format("woff2"),
    url("fonts/BentonSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Medium.woff2") format("woff2"),
    url("fonts/BentonSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BentonSans";
  src:
    url("fonts/BentonSans-Regular.woff2") format("woff2"),
    url("fonts/BentonSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Black.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Bold.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-ExtraBold.woff2") format("woff2"),
    url("fonts/MontserratAlt1-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-ExtraLight.woff2") format("woff2"),
    url("fonts/MontserratAlt1-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Light.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Medium.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src:
    url("fonts/MontserratAlt1-Regular.woff2") format("woff2"),
    url("fonts/MontserratAlt1-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Header */
.header-wraping {
  background: #2c0506;
}

.logo {
  width: 110px;
}

.nav-container {
  max-width: 1489px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px;
  height: 81px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  font-size: 18px;
  padding-right: 16px;
}

.navbar-ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: "BentonSans";
  font-weight: 100;
}

.navbar-a:hover {
  color: #916a2d;
}

/* Navbar Login & sign Up Buttons */
.login-signUp {
  display: flex;
  gap: 15px;
}

.login-btn {
  background: transparent;
  color: #fff;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
}

.login-btn:hover {
  color: #916a2d;
}

.signup-btn {
  background: #916a2d;
  padding: 7px 25px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #fff;
  color: black;
}

.menu-icon path {
  stroke: #fff;
}

.menu {
  display: none;
}

/* Hero Section */
.hero-section {
  background-image: url("images/heroImg.png");
  background-size: cover;
  height: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-content {
  display: flex;
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 65px;
  margin: 18px;
  padding-left: 153px;
}

.hero-content-span {
  margin: 0 11px;
}

.search-bar {
  margin: 2rem 0;
}

.hero-wrapper {
  width: 714px;
  margin: 12px auto 0px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 9px 9px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-left: 21px;
}

.heroInput {
  width: 100%;
  border: none;
  padding: 10px 28px;
  font-size: 18px;
  outline: none;
  font-family: BentonSans;
  background: transparent;
  color: black;
}

.search-btn {
  background: #2c0506;
  border: none;
  width: 61px;
  height: 56px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.search-btn:hover {
  background: #4e0a0c;
}

.category-tabs {
  display: flex;
  margin-left: 21px;
}

.buy-btn {
  padding: 9px 34px 9px 33px;
  border: none;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #dadfe2;
  cursor: pointer;
  font-weight: 400;
  background: #fff;
  font-size: 15px;
}


.rent-btn {
  background: #2c0506;
  padding: 8px 30px 9px 31px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 2px;
  font-family: BentonSans;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Main Section */
.container {
  max-width: 1133px;
  margin: 0 0 0 206px;
  margin-top: 98px;
}

.crum-divder {
  left: 28px;
}

.main-section {
  display: flex;
  gap: 120px;
  align-items: center;
}

.about-para {
  font-size: 16px;
  color: #ac9c9d;
  line-height: 2;
  font-family: "BentonSans";
}

.about-para::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  background: #dfc99a;
  top: 14px;
  left: -90px;
}

.about-us {
  text-align: center;
  font-weight: 100;
  font-size: 32px;
  margin: 0 40px;
}

.about-content {
  text-align: left;
  font-weight: 400;
  color: #3b1718;
  font-size: 30px;
  margin: 33px 0 19px 0;
  position: relative;
}

.about-btn {
  background: #2c0506;
  color: #c7bdbd;
  padding: 21px 46px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
}

.meet-btn {
  display: flex;
  justify-content: center;
  margin: 23px 70px 0 9px;
}

.main-section-image {
  width: 489px;
}

.main-section-image2 {
  width: 483px;
}

.crum-app-image {
  width: 586px;
  height: auto;
  display: block;
}

.thinking {
  max-width: 1136px;
  margin: 69px 0px 239px 0;
}

/* Crum Connect */
.crum-connect-section {
  background: #f5f6f8;
  align-items: center;
  gap: 40px;
}

.connect-top-grid {
  display: flex;
  align-items: center;
  gap: 73px;
  max-width: 1129px;
  margin: auto;
}

.about-container {
  width: 440px;
}

.before-box,
.after-full-box,
.afterImage {
  position: relative;
  overflow: hidden;
}

.before-box {
  margin-top: -196px;
}

.before {
  width: 573px;
}

.befores {
  position: absolute;
  bottom: 27px;
  left: 38px;
  color: #fff;
  font-size: 41px;
  font-weight: 200;
}

.after-full-box {
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: -155px;
}

.after {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.afterImage {
  width: 95%;
}

.label {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

.connect-text-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  top: 30px;
  font-size: 30px;
  margin-top: 138px;
  margin-left: 21px;
}

.connect-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: #2c0506;
  font-weight: 200;
}

.connect-desc {
  color: #66667a;
  line-height: 1.9;
  font-size: 16px;
  width: 422px;
  font-family: "BentonSans";
}

.connect-cta {
  background: #2c0506;
  color: #c3b9b9;
  border: none;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  font-family: BentonSans;
  text-decoration: none;
}

.arro {
  font-weight: bold;
  font-size: 1.6rem;
}

.after-title {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  padding: 30px;
  position: relative;
  top: 268px;
  left: 39px;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  width: fit-content;
}

.connect-cta-div {
  padding-left: 75px;
  margin: 18px 0;
  display: flex;
}

.connect-cta:hover {
  background: #4a0a0c;
}

/* Featured Propperties */
.featured-container {
  max-width: 1488px;
  margin: auto;
}

.featured-title-container {
  margin-top: 100px;
}

.featured-main-title {
  font-size: 37px;
  font-weight: 500;
  margin: 0px 110px;
  color: #2c0506;
}

.featured-divder {
  position: relative;
}

.featured-divder::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 80px;
  height: 2px;
}

.featured-divder-sub {
  position: relative;
}

.featured-divder-sub::before {
  content: "";
  position: absolute;
  top: 35px;
  left: -110px;
  width: 80px;
  height: 2px;
}

.heading-group {
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 200;
  margin-top: 98px;
  margin-left: 1px;
  margin-bottom: 27px;
}

.main-title {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #470608;
  padding-left: 27px;
  margin-bottom: 30px;
}

.sub-heading-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1478px;
  margin: 0 auto;
  padding: 0 23px 0 334px;
  margin-bottom: 12px;
  gap: 266px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 19px;
}

.our-location-gropu {
  margin-top: 96px;
  margin-bottom: 4px;
}

.view-alls {
  color: black;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
  position: relative;
  right: -90px;
  top: 20px;
}

.left-sides {
  display: flex;
  align-items: center;
  padding: 40px;
  margin-bottom: -40px;
}

.gold-line,
.gold-line-left {
  display: inline-block;
  width: 77px;
  height: 2px;
  background: #cf8909;
  margin-top: -30px;
}

.view-all {
  color: black;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 11px;
  transition: color 0.3s ease;
  margin-bottom: 41px;
}

.view-all:hover {
  color: #4a0a0c;
}

/* Featured Properties */
.featured-propertie {
  gap: 10px;
  margin-bottom: 80px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.properties-cards {
  font-family: "Times New Roman", Times, serif;
  height: 283px;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.properties-card-images {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.properties-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: #fff;
}

.properties-Title {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 8px;
  border-radius: 4px;
  font-weight: 200;
  text-align: start;
  color: #fff;
}

.cardTop-content {
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
}

.new {
  background: #c29b40;
  display: flex;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: 200;
  z-index: 10;
}

.card-footer {
  margin: 9px;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.properties-price {
  font-size: 27px;
  line-height: 1.5;
  font-family: 100;
  font-family: "Times New Roman", Times, serif;
}

.properties-address,
.properties-listing {
  font-size: 15px;
  font-weight: 100;
}

.house-details-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.propertice-iconImages {
  display: flex;
  justify-content: end;
  gap: 6px;
  width: 6%;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -5px;
}

.real-estate-popular-cites {
  font-size: 80px;
}

.real {
  font-weight: 200;
}

.bed-icon,
.bath-icon,
.width-icon {
  object-fit: cover;
  width: 25px;
  height: 15px;
}

.crum-about-container {
  width: 397px;
}

.bed-span,
.bath-span,
.squarePara {
  font-size: 15px;
}

/* Our Location */
.locations-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1480px;
  margin: auto;
  padding: 29px;
}

.locations-card-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.locationImage {
  width: 100%;
  display: block;
}

.card-item {
  position: relative;
  background: #f5f6f8;
  width: 100%;
}

.locationCard-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.card-heading {
  font-size: 21px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.card-text {
  font-size: 25px;
  opacity: 0.9;
  font-weight: 100;
  color: #dfdcdc;
  font-family: "Montserrat";
}

/* Crum App */
.crum-app {
  display: flex;
  gap: 40px;
}

.crumgoogle-app {
  width: 166px;
}

.crum-heading {
  font-size: 46px;
  margin-bottom: 20px;
  color: #2c0506;
}

.crum-para {
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
}

.crum-divder {
  width: 60px;
  height: 3px;
  bottom: -37px;
  right: 58px;
}

.crum-container {
  background: #fafafa;
  margin-top: 50px;
  margin-bottom: 80px;
}

/* Blog Container */
.blog-container {
  max-width: 1174px;
  padding: 12px;
}

.blog-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;
  margin-bottom: 74px;
  padding: 20px;
}

.blog-card-item {
  background: #f5f6f8;
}

.blog-card-image {
  width: 100%;
  height: 227px;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-imags {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.blog-excerpt {
  color: #a0a1a1;
  font-size: 20px;
}

.blog-image {
  width: 100%;
  object-fit: cover;
}

.blog-heading {
  margin-top: 40px;
  margin-bottom: 17px;
  text-decoration: none;
  color: #5a3c3d;
  font-weight: 200;
  font-size: 22px;
}

.blog-content {
  padding: 15px;
}

.blog-tile,
.blog-meta {
  padding: 9px 20px;
  font-size: 18px;
  font-weight: 200;
}

.about-para-crum::before {
  top: 28px;
  left: -51px;
  width: 63px;
  height: 3px;
}

.blog-title {
  color: #5a3c3d;
  font-size: 17px;
}

.blog-meta {
  color: #a0a1a1;
  margin-bottom: 10px;
}


/* Popular Cites */
.popular-cites {
  margin-top: 47px;
  margin-bottom: 74px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popular-cites-link {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 17px;
}

.view-a {
  font-size: 15px;
  background: #2c0506;
  padding: 11px 42px;
  color: #f5f6f8;
  border-radius: 30px;
  margin-top: 9px;
}

/* Footer */
.footer-container {
  background: #2c0506;
  padding: 19px 0;
  color: #c4c3c3;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-paragraph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: 50px;
}

.crum {
  margin-bottom: 40px;
}

.footer-column {
  min-width: 262px;
}

.footer-heading {
  font-size: 22px;
  margin-bottom: 18px;
  color: #c4c3c3;
  font-weight: 200;
}

.footer-para {
  font-size: 16px;
  opacity: 0.7;
  line-height: 1.6;
  margin-bottom: 80px;
  color: #c4c3c3;
  width: 73%;
}

.thing-para {
  font-size: 16px;
  width: 400px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.about-title {
  margin: 0 60px 0 0;
}


.footer-links a {
  text-decoration: none;
  color: #c4c3c3;
  opacity: 0.8;
  transition: opacity 0.3s;
  font-size: 16px;
}

.footer-links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footerLogo-links {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 13px 0;
}

.crum-logo {
  margin-bottom: 16px;
  margin-top: -20px;
  width: 123px;
}

.sub-text {
  font-size: 20px;
  opacity: 0.9;
  color: #c4c3c3;
  margin-top: -60px;
  display: flex;
}

.one-hour {
  font-size: 16px;
}

.socialIcon-container {
  padding: 40px 70px;
}

.main-footer {
  max-width: 1045px;
  margin: auto;
  margin-top: 117px;
}

.footer-top {
  text-align: center;
  margin-bottom: 35px;
  color: #806e6f;
  margin-left: 152px;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 6px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.footers {
  max-width: 1293px;
  font-size: 14px;
  margin-top: 110px;
}

.languge {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.social-links li a {
  color: #806e6f;
  text-decoration: none;
  font-size: 17px;
}

.social-links li:not(:last-child)::after {
  content: "•";
  color: #bfa078;
  margin-left: 15px;
}

.personal-info-link {
  display: block;
  color: #806e6f;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

.footer-content {
  color: #c4c3c3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  padding-left: 130px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #806e6f;
  font-size: 18px;
}

.footer-divider {
  position: relative;
  top: 0px;
  width: 100%;
  border-top: 1px solid #c4c3c3;
}

.legal-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 28px;
}

.legal-menu li a {
  color: #806e6f;
  text-decoration: none;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}

.legal-menu li:not(:last-child)::after {
  content: "|";
  color: #bab6b7;
  margin-left: -15px;
  padding: 0 30px;
}

.popular-cites-container {
  max-width: 1146px;
}

.main-sub-title-group {
  font-size: 47px;
}

.disclaimer-text p {
  font-size: 11px;
  color: #857576;
  line-height: 2.9;
  text-transform: uppercase;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.disclaimer-text {
  margin-top: 24px;
  margin-bottom: 30px;
}

.thinking-con {
  margin-left: 115px;
  margin-top: 1px;
}

.last-para {
  width: 80%;
}

.view-heading {
  margin-left: 360px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.los-angeles {
  margin-top: 102px;
}

.about-con {
  margin-bottom: 23px;
  margin-left: 82px;
}

.earth-icon {
  width: 23px;
}

.view-all-container {
  display: flex;
  justify-content: center;
  margin-bottom: 98px;
}

.view {
  background: #2c0506;
  text-decoration: none;
  color: #f5f6f8;
  padding: 15px 52px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
}

.footer-end {
  text-align: center;
  background: #33090a;
  color: #857576;
  padding: 14px;
  font-size: 13px;
  border-top: 1px solid #401d1e;
}

@media (max-width: 1200px) {
  .logo {
    width: 90px;
  }

  .navbar-a {
    font-size: 15px;
  }

  .nav-container {
    height: 74px;
  }

  .nav-btn {
    gap: 75px;
  }

  .login-btn {
    font-size: 15px;
  }

  .signup-btn {
    padding: 5px 20px;
  }

  .container {
    max-width: 980px;
    margin: auto;
  }


  .main-section-image {
    width: 429px;
  }


  .about-con {
    margin-bottom: 24px;
    margin-left: 54px;
  }


  .thinking-con {
    margin-left: 1px;
  }


.connect-top-grid {

  max-width: 1088px;
  margin: auto;
}

}

.main-section {
  margin-top: 80px;
  gap: 105px;
}


.main-section-image2 {
  width: 482px;
}



@media (max-width: 992px) {
  .nav-btn {
    gap: 58px;
  }


  .about-con {
    margin-left: 30px;
  }

  .thing-para {
    font-size: 16px;
    width: 267px;
  }

  .main-section-image {
    width: 372px;
  }

  .main-section {
    padding: 15px;
    gap: 43px;
  }


  .about-us {
    font-size: 25px;
  }

  .main-section-image2 {
    width: 361px;
  }

  .about-para {
    font-size: 14px;
  }

  .about-para::before {
    display: none;
  }


  .thinking-con {
    margin-left: 64px;
  }

}

@media (max-width: 768px) {
  .nav-btn {
    display: none;
  }

  .menu {
    display: block;
    width: 28px;
    height: 28px;
  }

  .hero-wrapper {
    width: 570PX;
  }

  .hero-content {
    font-size: 58px;
    padding-left: 144px;
  }

  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-container {
    margin-left: 91px;
  }

  .thing-para {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero-wrapper {
    width: 390px;
  }

  .hero-content {
    padding-left: 85px;
    font-size: 43px;
  }

  .about-container {
    margin-left: 0;
  }


  .about-container {
    width: 100%;
  }

  .about-btn {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 80px;
  }

  .menu {
    width: 25px;
    height: 25px;
  }

  .hero-wrapper {
    width: 292px;
  }

  .hero-content {
    padding-left: 8px;
    font-size: 37px;
  }

  .buy-btn,
  .rent-btn {
    padding: 6px 30px 6px 26p
  }

  .main-section-image {
    width: 282px;
  }

  .main-section-image2 {
    width: 279px;
  }


  .about-us {
    font-size: 21px;
  }

  .about-para {
    font-size: 13px;
  }

  .about-btn {
    padding: 18px 38px;
  }
}